<div id="container">
  Loading...
</div>

<div id="profile_container">
  <div class="profile_desc">
    <table>
      <tr>
        <td valign="top" class="desc_heading">about: </td>
        <td>
          Normal guy who loves to Code. Likes: Ruby, Rails, Rhodes, JS, jQuery, CSS, Web development, mysql, cassendra, Firefox, Ubuntu, Mint, Linux, Video Games, PS, X-Box, Movies, Books, Health & Fitness, Music, Cars, Bikes, Riding, Poetry, Humour, Yamaha, FZ, Cricket, IPL, Travel, Mysore, Bangalore, Chennai, Pune, Trichy, Cognizant, BTP, Apple, Sony, Flipkart ...
        </td>
      </tr>
      <tr>
        <td valign="top" class="desc_heading">designation: </td>
        <td>
          Associate
        </td>
      </tr>
      <tr>
      <tr>
        <td valign="top" class="desc_heading">department: </td>
        <td>
          GTO-Advanced Web CoE
        </td>
      </tr>
      <tr>
      <tr>
        <td valign="top" class="desc_heading">birthday: </td>
        <td>
          12 Mar, 1987
        </td>
      </tr>
      <tr>
        <td valign="top" class="desc_heading">id: </td>
        <td>
          289087
        </td>
      </tr>
      <tr>
        <td valign="top" class="desc_heading">email: </td>
        <td>
          Srikanth.J@cognizant.com
        </td>
      </tr>
      <tr>
        <td valign="top" class="desc_heading">location: </td>
        <td>
          Bangalore
        </td>
      </tr>
      <tr>
        <td valign="top" class="desc_heading">tags: </td>
        <td>
          rubyonrails,socialtango,jquery,cricket,socialtangodev,music
        </td>
      </tr>

      
    </table>
  </div>
  <div class="thumbnail">
    <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;" src="https://csocial.cognizant.com/uploads/images/thumb_large_8d98ac6c5a3a6fadc2e5.png" />
    <div class="caption">
      <span class="profile_image">Srikanth Jeevanandan</span>
    </div>
  </div>
</div>